 
 h1{
    margin-top: 100px;
    margin-left: 100px;
    color: rgb(107, 239, 107);
 }
/*.......... NavBar .......*/

.navbar{
    height: 50px;
    color: rgb(107, 239, 107);
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: bold;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    background-color: rgb(107, 239, 107);
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
  }
  /*.......... NavBar .......*/

   /*.......... Home Body .......*/
   .form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-top: 100px;
    left: 100px;
    background-color: white;
    padding: 30px;
    border: 2px solid rgb(107, 239, 107);
    border-radius: 5px;
  }
  
  .input-box{
     flex: 1 1 7rem;
     display: flex;
     flex-direction: column;
  }
  .input-box input{
      padding: 10px;
      border: 1px solid rgb(107, 239, 107);
      border-radius: 5px;
      outline: none;
       
  }
  .ppl{
    flex: 1 1 1rem;
    margin-top: 18px;
    background-color: white;
    color: grey;
    border: 1px solid rgb(107, 239, 107);
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ppl:disabled{
  cursor: not-allowed;
}

 #num{
    flex: 1 1 5px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: 0px;
    font-weight: bold;
    color: rgb(107, 239, 107);
    padding: 2px;  
    
}
   .btn{
      flex: 1 1 1rem;
      margin-top: 18px;
      margin-left: 0px;
      font-weight: bold;
      background-color: rgb(107, 239, 107);
      color: white;
      border: 1px solid rgb(107, 239, 107);
      padding: 10px 10px;
      border-radius: 5px;
      cursor: pointer;
  }

  /*.......... Home Body .......*/