.listContainter{
    background-color: green;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 160px 160px 160px ;
    gap: 10px;
}

.list{
   background-color: #ecf0f3;
   border-radius: 5px;
   margin: 0px 250px 0px 250px;
   box-shadow: 14px 14px 20px  #cbced1, -14px  -14px 20px #cbced1;
}